@font-face {
    font-family: 'RH-Zak';
    src: url('RHZak-Thin.woff2') format('woff2'),
        url('RHZak-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

